.logo-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-title {
  display: flex;
  align-items: center;
}

.right-title {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.left-title img {
  margin-right: 10px;
  margin-left: 10px;
}

.left-title h1 {
  vertical-align: middle;
  margin: 0px;
  font-family: "Roboto Mono", monospace;
  font-weight: 600;
}

.right-title h1 {
  margin: 0 10px 0 5px;
}

.right-title svg {
  width: 30px !important;
  height: 30px !important;
}
